.none{
  display: none;
}
.target{
  .step-block{
    width: 260px;
    max-width: 260px;
    min-width: 260px;
  }
  button.next{
    margin-top: -18px;
  }
  img.active-profile{
    border: 2px solid black;
  }
  .v-list__tile__avatar{
    .v-avatar{
      // display: block;
      // margin: auto;
    }
  }
}

.theme--light.v-btn.v-btn--disabled:not(.v-btn--icon):not(.v-btn--flat):not(.v-btn--outline){
  background-color: #dcdcdc !important;
}
