.none{
  display: none;
}

.v-list__tile--buy{
  position: relative;
  > a > span{
    position: absolute;
    top: -25px;
    color: white;
    font-weight: lighter;
    font-family: monospace;
    font-size: 12px;
    text-align: center;
    margin-left: -15px;
    width: 100%;
  }
}

button.next{
  margin-top: -18px;
}
button.next-v2{
  margin-bottom: -18px;
}
img.active-profile{
  // border: 2px solid black;
  box-shadow: 0 0 5px 4px #d44dda;
}
.relativePos{
  position: relative !important;
}
.done-profile{
  &::after{
    background-color: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    content: 'done';
    font-family: "Material Icons";
    color: white;
    font-size: 27px;
    border-radius: 50%;
  }
}
.taskHead{
  margin-top: 50px;
  text-align: center;
  text-decoration: underline;
  font-style: italic;
}
.postCard{
  > div.selected{
    box-shadow: 0 0px 0px 4px #ee6292 !important;
  }
  .postDetails{
    position: relative;
    .hoverdetails{
      display: none;
      top: 0;
      width: 100%;
      bottom: 0;
      height: 100%;
      position: absolute;
      background-color: rgba(0,0,0,.5);
      color: white;
      .v-input--selection-controls{
        margin: 0;
        margin-right: -5px;
      }
      .overflow-hidden.text-truncate{
        margin-top: 10px;
      }
    }
    &:hover{
      .hoverdetails{
        display: block;
        cursor: pointer;
      }
    }
  }
}
.descriptionTask{
  background-color: #f5f5f5;
}
.finishedPost{
  .v-image__image{
    opacity: .5;
  }
  .postDetails::after{
    content: "done";
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    text-align: center;
    color: #00ff0c;
    padding: 9px;
    font-size: 500%;
    line-height: 250%;
    font-family: "Material Icons";
  }
}
.floatingButtons{
  position: sticky;
  top: 0;
  right: 0;
  z-index: 1;
  > .layout{
    border-radius: 4px;
  }
}
.commentsList{
  .v-expansion-panel__header__icon{
    > .v-radio{
      max-width: 26px;
      margin-right: 0;
    }
  }
}


.step-block{
  width: 260px;
  max-width: 260px;
  min-width: 260px;
}
.target{
  .v-list__tile__avatar{
    .v-avatar{
      // display: block;
      // margin: auto;
    }
  }
}
.v-window.elevation-1{
  max-height: 50vh; 
  overflow-y: auto;
}
// .v-toolbar__content .v-badge__badge{

// }
.dashboard{
  .v-card__actions .v-input--switch{
    height: 35px;
    margin-top: 0px;
  }
  .vertIcon{
    margin-right: -6px;
  }
}
.theme--light.v-btn.v-btn--disabled:not(.v-btn--icon):not(.v-btn--flat):not(.v-btn--outline){
  background-color: #dcdcdc !important;
}
#app > div > main > div > div > div > div > div.flex > div > div > div > div > div > div.layout.align-left.row.wrap.justify-left.mb-4.pt-3 > div{
  position: relative !important;
}
body .v-icon.material-icons{
  color: #b44be4;
}
body .v-btn .v-btn__content .v-icon{
  color: #b44be4;
}


.box-s{
  box-sizing: border-box;
}
.no-padding{
  padding: 0 !important;
}
.limitTo4 {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 1; /* number of lines to show */
   cursor: pointer;
}
// .v-toolbar.v-toolbar--clipped.v-toolbar--fixed{
//   background-color: white;
// }
.theme--light.application{
  background: #f5f5f5;
}
.leftDrawerMargin{
  margin-left: 260px !important;
  width: calc(100% - 260px);
}
.v-toolbar:not(.v-toolbar--fixed) .v-toolbar__content{
  margin: auto;
}

main > .v-content__wrap > .container{
  min-height: calc(80vh - 165px);
}
main .container.fill-height{
  min-height: calc(80vh - 165px);
  padding: 0 !important;
}



.tag-input span.chip {
  background-color: #d44dda;
  color: white;
  *{
    color: white;
  }
  font-size: 1em;
}

.tag-input span.v-chip {
  background-color: #d44dda;
  color: white;
  *{
    color: white;
  }
  font-size:1em;
  padding-left:7px;
}

.tag-input span.v-chip::before {
    content: "#";
    // font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    line-height: 1;
    margin-right: -10px;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
.location.tag-input span.v-chip::before {
    content: "location_on";
    font-family: 'Material Icons';
}


main.v-content{
  margin-bottom: 82px;
}

.comments{
  .addNewCommentField{
    > span{
      width: calc(100% - 68px);
      display: inline-block;
    }
    > button{
      float: right;
      width: 48px;
      margin: 0;
      min-width: 48px;
      height: 40px;
      margin: 4px 0;
    }
  }
  .CommentsTable{
    > div:hover{
      box-shadow: 0px 1px 2px silver;
       > span{
        opacity: 1;
       }
    }
    > div{
      border-radius: 5px;
      text-align: left;
      padding: 5px 10px;
      padding-right: 0;
      margin: 5px 0;
      margin-left: 10px;
      width: calc(100% - 10px);
      display: block;
    }
    > div > span{
      float: right;
      padding: 0 10px;
      opacity: 0;
      cursor: pointer;
    }
  }
}
.v-navigation-drawer--right{
  background-color: #f5f5f5 !important;
  .v-list{
    background-color: #f5f5f5 !important;
    overflow-y: auto;
    max-height: 100vh;
    > div{
      > a.v-list__tile{
        padding: 5px 0;
        padding-left: 10px;
      }
    }
    .v-list__tile__action{
      min-width: 35px;
      i{
        color: #e05f99;
      }
    }
    .v-list__tile__title{
      font-size: 15px !important;
    }
    .v-list__tile__avatar:not(.notAvatarUser) img{
      border-radius: 5px;
    }
  }
}






.fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: .25s;
}

.fade-enter-active {
  transition-delay: .25s;
}

.fade-enter, .fade-leave-active {
  opacity: 0
}





























.plans{
  .price{
    color: #c23346;
  }
  .yes{
    color: #63a378;
  }
  .no{
    color: #c23346;
  }
  .small-title{
    font-size: 10px;
  }
  .v-card.theme--dark{
    margin-right: -0px;
    z-index: 2;
    background-color: #370042 !important;
  }
  .v-card{    
    border-radius: 10px;
    padding-bottom: 20px;
  }
  button{
    background-color: #F48FB1 !important;
  }
  .custom-btn{
    background-color: #d1313d !important;
    color: white;
    font-weight: bold;
  }
  .v-card__title{
    padding-bottom:0px;
  }
  .custom-box{
    padding-top:30px !important; 
  }
  .center-box{
     box-shadow: 0 0 0 10px #370042;
  }
  .third-box{
     padding-left:0px !important;
  }
}